* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
h2, p {
  color: #898989;
}
h2 {
  font-weight: 300;
}
p {
  font-size: 1.3em;
  font-weight: 200;
}
a {
  cursor: pointer;
}
.fixed {
  position: fixed;
  width: 100%;
  z-index: 100;
}
.max-width-nav {
  max-width: 1084px;
  margin-left: auto;
  margin-right: auto;
}
.nav a {
  color: #898989;
  text-align: center;
  font-size: 1.15em;
  font-weight: 200;
  padding-top: 0;
  line-height: 2em;
  vertical-align: middle;
}
.nav a:hover {
  color: red;
}
.nav>li>a:hover, .nav>li>a:focus {
    background-color: transparent;
}
.bold {
  font-weight: 500;
}
.large {
  font-size: 1.5em;
  vertical-align: middle;
  margin-top: -18px;
}
.navbar{
  margin-bottom: 0;
  height: 100px;
  background-color: #FFF;
  padding: 1% 5% 0 5%;
  border-radius: 0;
  opacity: 0.95;
}
.navbar-brand {
  z-index: 100;
  position: absolute;
}
.full-size-img {
  height: 100vh;
}
.full-size-img img {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  z-index: 0;
}
.large-text {
  position: absolute;
  z-index: 1;
  top: 40%;
  left: 50%;
  font-size: 4em;
  white-space: nowrap;
  transform: translate(-50%,0);
  color: white;
  font-weight: 300;
}

.full-size-img form {
  border-radius: 10px;
  text-align: center;
  width: 850px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%,0);
}
.btn-omsi {
  width: 33%;
  background: #E4002B;
  color: white;
  font-size: 1.2em;
  border-radius: 10px;
  padding: 15px;
}
.btn-omsi:hover {
  background: #C84257;
  color: white;
}
.full-size-img select {
  color: #898989;
  width: 30%;
  font-weight: 300;
  text-align: center;
  text-align-last: center;
  height: 55px;
  font-size: 1em;
  border-radius: 20px;
  padding: 15px;
  margin-right: 5px;
  border: 3px solid #FFF;
}

.gingerbread {
  text-align: center;
  position: relative;
  height: 250px;
}
.gingerbread video {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -2;
}
.btn-feature {
  background: #FFF;
  color: #8C8C8C;
  border-radius: 10px;
  font-size: 1.2em;
  padding: 10px 20px 10px 20px;
  font-weight: bold;
}
.gingerbread-text {
  position: absolute;
  top: 30%;
  left: 10%;
}
.gingerbread-img {
  position: absolute;
  top: 0%;
  left: 60%;
}
.container-fluid {
  margin-top: 40px;
}
.max-width {
  position: relative;
  padding: 100px;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  width: 1084px;
}
.max-width-gingerbread {
  position: absolute;
  top: 0;
  height: 100%;
  left: 50%;
  transform: translate(-50%,0);
  width: 1084px;
}

.section {
  position: relative;
  top: 80%;
  height: 420px;
  background: #EFEFEF;
  /*border: 2px dotted red;*/
}
.text {
  position: absolute;
  top: 20%;
  left: 10%;
  z-index: 2;
  text-align: center;
}
.small-text {
  position: absolute;
  bottom: 8%;
  left: 25%;
  z-index: 2;
  text-align: right;
}
.small-text p {
  font-size: 1em;
}
.section-img {
  position: absolute;
  bottom: 0;
  left: 55%;
  text-align: center;
}
.section-img img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.section a {
  color: #E4002B;
}

.theater {
  background-color: #F6F6F6;
}
.theater .text {
  left: 60%;
}
.theater .section-img img {
  width: 500px;
}
.theater .section-img {
  left: 5%;
}
.theater .small-text {
  left: 55%;
  text-align: left;
}
.section .btn-feature {
  background-color: #C8C8C8;
  color: #fff;
  z-index: 2;
}
.events .section-img img {
  width: 450px;
}
.events .small-text {
  left: 20%;
}
.space {
  text-align: center;
  border-bottom: 7px solid #E4002B;
  background-image: url(../img/spaceshuttle.jpg);
  background-size: cover;
  background-position: center;
}
.space .text  {
  left:50%;
  transform: translate(-50%,0);
  color: #fff;
}
.space .btn-feature {
  background-color: #fff;
  color: #8C8C8C;
}
.space h2, .space p  {
  color: #fff;
}
.footer {
  background-color: #353535;
  height: 540px;
  color: #FFF;
  width: 100%;
  padding: 5% 10%;
}
.footer li {
  list-style: none;
  white-space: nowrap;
  text-align: left;
}
.footer li:not(first-child) {
  font-weight: 200;
}

@media screen and (max-width: 992px) {
  .max-width {
    position: static;
  }
  .max-width-gingerbread {
    width: 100%;
  }
  .gingerbread-text {
    width: 100%;
    left: 50%;
    transform: translate(-50%,0);
  }
  .gingerbread-img {
    left: 50%;
    transform: translate(-50%,0);
    z-index: -1;
    opacity: 0.3;
  }
  .large-text {
    font-size: 5.6vw;
    top: 35%;
  }
  .full-size-img form {
    width: 80vw;
    top: 45%;
  }
  .btn-omsi {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .full-size-img select {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
  .section-img {
    width: 100%;
    left: 50%;
    transform: translate(-50%,0);
  }
  .theater {
    background: #EFEFEF;
  }
  .text {
    right: 5%;
  }
  .theater .text {
    left: 5%;
  }
  .theater .section-img {
    left: 50%;
    transform: translate(-50%,0);
  }
  .section-img img {
    position: relative;
    max-width: 300px;
    top: 0%;
    bottom: 0px;
  }
  .small-text {
    display: none;
  }
  .space .text {
    width: 100%;
  }
}
@media screen and (max-width:768px) {
  .align-right {
    position: absolute;
    left: 40%;
  }
}
